
 #calculator {
  	width: 420px;
  	height: 520px;
 	margin: auto;
  	padding: 3px;
  	background-color: whitesmoke;
  	border: 1px solid #ccc;
  	border-radius: 10px;
  	box-shadow: 1px 1px 5px #ccc;
      }
 #result {
  	width: 357px;
  	height: 46px;
  	background-color: white;
  	margin-bottom: 10px;
  	text-align: right;
  	font-size: 36px;
  	flex: 1;
  	border: 1px solid #ccc;
  	border-radius: 5px;
  	box-shadow: 1px 1px 5px #ccc;
  	padding-right: 5px;
  	display: flex;
  	justify-content: flex-end;
  	margin: 22px 11;
      }
 .name {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 120;
        font-style: italic;
        font-size: 36px;
        color: black;
        align-items: center;
        justify-content: center;
        display: flex;
      }
 .texts {
        background: #3a4452;
        padding: 20px;
        border-radius: 10px;
        width: 380px;
  	height: 480px;
  	text-align: center;
      }
 .texts button {
        border: 10;
        outline: 10;
        width: 55px;
        height: 55px;
        font-size: 22px;
        border-radius: 11px;
        background: transparent;
        box-shadow: -8px -8px 15px rgba(255, 255,255, 0.1),-5px -5px 15px rgba(0, 0, 0, 0.2);
        color: #fff;
        cursor: pointer;
        margin: 10px;
      }
      
